name: Default workflow

on: [push, pull_request]

jobs:
  default:
    runs-on: ubuntu-22.04
    name: Run eslint, check typescript and run tests
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '19.9.0'
      - run: npm ci
      - run: npm run test
      - run: npm run lint
      - run: npm run build
